body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    }

h1 {
     margin-top: 20px;
    }

.before-background {
    background-color: lightblue;
    border: 2px solid black;
    margin-right: 30px;
    }

.house {
    fill: #f4c27a;
    stroke: black;
    stroke-width: 3;
 }

.window {
    fill: lightcyan;
    stroke: black;
    stroke-width: 3;
    }

.tree {
    fill: green;
    stroke: darkgreen;
    stroke-width: 2;
}

.window {
    fill: lightcyan;
    stroke: black;
    stroke-width: 3;
}

.text {
    font-size: 20px;
    font-weight: bold;
}

.after-background{
    background-color: antiquewhite;
    border: 2px solid black;
    margin-left: 30px;
    }

.sunlight {
    fill: yellow;
    stroke: orange;
    stroke-width: 3;
    }

.after-tree {
    fill: #EFA710;
    stroke: #3F0E00;
    stroke-width: 2;
        
    }

