/* Basic Page Styling */

* {

    box-sizing: border-box;
}

body {

    margin: 0;

    font-family: 'Times New Roman', Times, serif;

    background-color: #f4f8fb;

    color: #1f2937;

    line-height: 1.6;

}

p {
    font-size: 17px;
}

/* Main Content Styling */

.container {
  
  max-width: 1000px;
 
  margin: 0 auto;

  padding: 40px 20px;

  display: flex;

  flex-direction: column;

  justify-content: center;  

  align-items: center;     

  min-height: 90vh;    
        
}

/* Navigation Bar Styling*/

.nav-bar{

    display: flex;

    align-items: center;

    background-color: #0b3d62;

    padding: 10px 30px;
}

/* Logo Styling */

.logo {

    width: 100px;

    height: 100px;

    object-fit: contain;
}

.logo-link:hover{

    opacity: 0.75;

}

/* Navigation Links Styling */

.nav-links {

    display: flex;

    justify-content: center;

    flex: 1;

    margin: 0;
}


.nav-link {

    color: white;

    text-decoration: none;

    padding: 15px 20px;

   
    margin-left: 5px;

}

.nav-link:hover {

    background-color: #1769aa;

}

.nav-active:hover{

    background-color: #1769aa;
    
    opacity: 0.75;
}

.nav-active {

    color: white;

    text-decoration: none;

    padding: 15px 20px;
   
    margin-left: 5px;

}