/* Basic Page Styling */

* {

    box-sizing: border-box;
}

body {

    margin: 0;

    font-family: 'Times New Roman', Times, serif;

    background-color: #f4f8fb;

    color: #1f2937;

    line-height: 1.6;

}

p {
    font-size: 17px;
}