/* Basic Page Styling */

* {

    box-sizing: border-box;
}

body {

    margin: 0;

    font-family: 'Times New Roman', Times, serif;

    background-color: #f4f8fb;

    color: #1f2937;

    line-height: 1.6;

}

p {
    font-size: 17px;
}

/* Main Content Styling */

.container {
  
  max-width: 1000px;
 
  margin: 0 auto;

  padding: 40px 20px;

  display: flex;

  flex-direction: column;

  justify-content: center;  

  align-items: center;     

  min-height: 90vh;    
        
}

/* Navigation Bar Styling*/

.nav-bar{

    display: flex;

    align-items: center;

    background-color: #0b3d62;

    padding: 10px 30px;
}